.sign_in {
    /* 界定盒子大小即为边框大小 */
    box-sizing: border-box;
    /* 高度为可视化 */
    height: 100vh;
    /* 内边框 */
    padding: 0.5rem;
    /* 宽度 */
    width: 100% !important;
    /* 背景图片 */
    background: url(../img/bg.jpg) no-repeat !important;
    /* 背景图大小 */
    background-size: 100% 100% !important;
    /* position: relative; */
    /* background-image: repeating-radial-gradient(#fff, rgb(79, 224, 75) 10%, rgb(243, 244, 247) 15%) !important; */
}


/* 重置按钮 */

.el-main .el-button--default {
    margin: 0 !important;
    margin-right: 5px !important;
    background: #2d9953 !important;
}


/* 导出按钮 */

.el-main .derive {
    background: #2d9953 !important;
}

.el-main .el-button--default:hover {
    color: #7c7575;
}


/* 添加按钮 */

.el-main .el-button--default.el-button--primary,
.el-main .el-button--primary {
    margin: 0 !important;
    margin-right: 8px !important;
    /* margin-bottom: 5px !important; */
}

.el-button--success {
    background: #2d9953 !important;
    color: #fff !important;
}

.el-button--primary {
    background: #2d9953 !important;
    color: #fff;
	border-color: transparent !important;
}


/* 默认按钮 */

.el-button--default {
    background: #2d9953 !important;
    color: #fff !important;
}


/* 删除按钮 */

.el-main .el-button--danger.el-button {
    /* margin-left: 12px; */
    margin: 0 !important;
    margin-right: 8px !important;
    /* margin-bottom: 5px !important; */
}


/* 查询按钮 */

.search_btn_find {
    background-color:  #2d9953 !important;
}

.container-fluid .el-row:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-fluid .el-row:nth-child(2) .el-col {
    width: 100% !important;
    margin-bottom: 20px;
}

#app .el-button.el-button--small.is-plain.el-button--primary {
    /* 	margin-left: 20px !important; */
    margin-bottom: 5px !important;
}

.is-plain.el-button--primary {
    color: #fff !important;
}

.el-image {
    height: 100%;
    width: 100%;
}

.el-avatar--circle img {
    height: 100% !important;
    width: 100% !important;
}

.action_right {
    float: left !important;
}

.item-ltb {
    display: none;
}

.sign_in .el-form {
    margin-top: 100px !important;
    padding: 20px !important;
}

.el-button--success {
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
    margin-bottom: 5px !important;
}

.geetest_box_title {
    margin-right: 28px !important;
}

.register_wrap img {
    width: 100% !important;
    height: 100% !important;
}

.login_conter h1::before {
   /* content: "您好！欢迎来到";
    font-size: 20px;
    font-weight: 400; */
}

.login_conter h1 {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 400;
    color: #333;
}

.login_conter .el-form-item__label,
.geetest_box_title {
    display: none;
}

#app .login_conter .el-form-item__content .el-input,
.geetest_box .el-input {
    color: #555 !important;
    position: relative;
    margin-left: -12px;
}

.geetest_box {
    margin-left: 53px;
}

.login_conter .el-form-item:nth-child(2) .el-form-item__content .el-input::before {
  
}

.login_conter .el-form-item:nth-child(3) .el-form-item__content .el-input::before {

}

.login_conter .geetest_box .el-input::before {

}

#app .login_conter .el-form-item__content .el-input__inner,
.geetest_box .el-input .el-input__inner {
  /*  padding-left: 50px; */
}

#app .login_conter .el-form-item__content {
    margin-left: 50px !important;
    margin-bottom: 20px;
}

#app .login_conter .el-form-item__content .el-input__inner::placeholder,
.geetest_box .el-input__inner::placeholder,
.sign_in .el-form-item__content .el-input__inner::placeholder {
    /* padding-left: 50px; */
    color: #555 !important;
    font-size: 14px;
}

.el-form-item__error {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 27% !important;
    left: 231px !important;
}

#canvas {
    background-color: #fff !important;
}

.sign_in .form {
    width: 50% !important;
    /* background-color: #ffffff; */
    padding-bottom: 50px !important;
    min-width: 470px !important;
}

.login_conter .geetest_box {
    width: 100% !important;
}

.login_conter .is-required .el-form-item__content {
    width: 82% !important;
}

.login_conter .is-required .el-form-item__content .el-input {
    width: 100% !important;
    max-width: 32rem !important;
}

.login_conter .is-required .el-form-item__content .el-input__inner {
    width: 100% !important;
}

.login_conter .warp .el-col-24 .el-form {
    max-width: 550px !important;
    height: auto;
	min-height: 480px;
    background: rgba(255, 255, 255, 0.8) !important;
}

.sign_in .form h1 {
    color: #2d9953;
    font-weight: bold;
    border-bottom: 4px solid #2d9953;
	font-size: 28px !important;
	margin-bottom: 30px !important;
	margin-top: 30px !important;
}

.sign_in .form .lg_login {
    width: 100% !important;
    /* margin: 10px 20px 10px 0px; */
}

.sign_in .form .btns {
    position: relative;
	height: 75px;
}

.sign_in .form .lg_forgot,
.sign_in .form .lg_register {
    background-color: transparent;
    border: none;
    color: #54595a;
    width: 150px;
}

.sign_in .form .lg_forgot {
    position: absolute;
    top: 55px;
  
    /* width: 50% !important; */
    /* height: 30px;
          line-height: 30px; */
}

.sign_in .form .lg_forgot span::before {
content:'找回密码';
color: red;
}

.sign_in .form .lg_register {
    position: absolute;
    top: 57px;
    /* right: -10px; */
    right: 0;
    /* width: 50% !important; */
    /* height: 30px;
          line-height: 30px; */
    width: 32% !important;
}

.sign_in .form .lg_register span::before {
 
}

.sign_in .form .btns{
	position: relative;
}
.login_conter .form .lg_forgot{
	background-color: transparent !important;
	position: absolute;
	top: 40px;
	right: -20px;
	
	
}
.login_conter .form  .lg_register{
	background-color: transparent !important;
	position: absolute;
	top: 40px;
	left: -10px;
}
.login_conter .form  .lg_register span::before{
	content: '点此 ';
	color: #222 !important;
}
.login_conter .form  .lg_register span{
	color: red !important;
}
.login_conter .form .lg_forgot span{
	color:transparent;
	
}
#app .register_wrap .form {
    /* width:50% !important;
          max-width: 50% !important; */
}

.register_wrap h1 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #333;
}

.register_wrap h1::before {
    content: "欢迎您";
}

.sign_in .el-form-item__label {
    color: #222 !important;
    width: 150px !important;
    text-align: center;
}

.sign_in .el-form-item__label::after {
    content: "：";
}

.sign_in .el-form-item__content {
    /* width: 320px !important; */
    margin-left: 40px !important;
}

.register_wrap .float-right,
.forgot_wrap .float-right {
    float: none;
}

.register_wrap .rs_back {
    margin-left: 10px !important;
}

.register_wrap .rs_register {
    margin-left: 130px !important;
}


/* .forgot_wrap .el-button {
    width: 20% !important;
  } */

.search_btn_wrap_1 {
    display: flex;
    flex-direction: row;
    width: auto !important;
}

.derive {
    margin-right: 5px !important;
}

#app .search_btn_wrap_1 .el-button {
    border: 1px solid #e7dada !important;
    /* margin-left: 5px !important;
    margin-right: 5px !important; */
    margin-bottom: 0px !important;
}

#app .view_a {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.el-button--success.is-plain {
    text-align: center;
}

.iframe_box {
    padding-top: 40px;
    margin-bottom: 200px;
}

.iframe_box_content {
    margin-top: 80px;
}

.iframe_box_change {
    margin-bottom: 120px;
}

.iframe_box_top {
    background: rgba(59, 75, 217, 0.5) !important;
    color: #fff;
}

#inneriframe {
    /* margin-left: -180px; */
}

#outerdiv {
    margin-top: 40px;
    overflow-y: auto !important;
}

#user_password .el_form_btn_warp {
    width: 100%;
    display: flex;
    margin-top: 20px;
    padding-left: 40px;
    /* justify-content: space-around; */
}

#user_password .el_form_btn {
    width: 100px !important;
    margin-right: 8px;
}

#outerdiv iframe {
    width: 100%;
}

#app .warp .action_left {
    background: #2d9953 !important;
}

#app .warp .action_center {
    background: #2d9953 !important;
}

#app .warp .action_right {
    background: #2d9953 !important;
}

#app .page {
    /* flex-direction: row-reverse !important; */
}

#app .page .warp .el-breadcrumb__item span,
#app .page .warp .el-dropdown span,
#app .page .warp .action_right .timess,
.action_center {
    color: #fff !important;
}

#app .cell .e-button {
    margin-right: 0px !important;
    /* width: 80px !important; */
    padding: 10px !important;
    margin: 2px auto !important;
}

#app .page .side {
    background: #2d9953 !important;
    /* padding: 10px 20px; */
    /* background: transparent !important; */
}


/* #app .page .side, */

.el-submenu .el-menu,
#app .page .side .el-menu-item,
#app .page .side .el-submenu__title {
    /* background: rgb(26, 33, 39) !important; */
    /* background: rgb(252, 252, 252) !important; */
    background: #2d9953 !important;
    /* color: #0c0c0c !important; */
    color: #fff;
    /* box-shadow: 0 0 2px 0 #2d9953; */
    /* padding: 0 20px; */
    text-align: center;
    /* border-radius: 16px; */
    /* border-top-right-radius: 16px;
    border-bottom-right-radius: 16px; */
}

#app .page .side .el-menu-item:hover,
#app .page .side .el-submenu__title:hover {
    color: #fff !important;
    font-weight: bold !important;
 
    /* border-left: 10px solid rgb(26, 33, 39); */
    /* background: #2d9953 !important; */
    /* background: rgb(74, 104, 255) !important; */
    background-color: #025e23 !important;
}

.el-menu-item:hover,
li.el-menu-item.is-active,
.el-menu-item.is-active span {
    color: #fff !important;
}

#app .page .side .el-menu-item.is-active {
    /* background: #2d9953 !important; */
    /* background: rgb(74, 104, 255) !important; */
    background-color:  #025e23 !important;
    font-weight: bold !important;
    /* border-left: 10px solid rgb(26, 33, 39); */
}

#app .page .side .active {
    color: var(--bg1) !important;
    background-color: #025e23 !important;
}
#app .page .side>.el-menu-item::before {
 content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(../img/11.png) no-repeat;
    background-size: 100% 100%;
    top: 18px;
    left: 20px;	
}
#app .page .side .el-submenu:nth-child(2n) .el-submenu__title::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(../img/5.png) no-repeat;
    background-size: 100% 100%;
    top: 18px;
    left: 20px;
    /* margin-left: 5px; */
}

#app .page .side .el-submenu:nth-child(2n + 1) .el-submenu__title::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(../img/6.png) no-repeat;
    background-size: 100% 100%;
    top: 18px;
    /* left: 0px; */
    left: 20px;
    /* margin-left: 5px; */
}

#app .page .side .el-submenu:nth-child(3n) .el-submenu__title::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(../img/7.png) no-repeat;
    background-size: 100% 100%;
    top: 18px;
    /* left: 0px; */
    left: 20px;
    /* margin-left: 5px; */
}

#app .page .side .el-submenu:nth-child(5n) .el-submenu__title::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(../img/8.png) no-repeat;
    background-size: 100% 100%;
    top: 18px;
    /* left: 0px; */
    left: 20px;
    /* margin-left: 5px; */
}
#app .page .side .el-submenu .el-menu-item::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background: url(../img/22.png) no-repeat;
    background-size: 100% 100%;
    top: 18px;
    /* left: 0px; */
    left: 40px;
    /* margin-left: 5px; */
}
#app .page .side .el-submenu__title {
    padding-left: 30px !important;
}

#app .page main article {
    padding: 50px !important;
    /* background: rgba(59, 75, 217, 0.1); */
    background-color: #abffec6b !important;
    /* background: rgba(16, 49, 83, 1); */
    /* background: linear-gradient(to right, #2d9953, rgb(59, 75, 127)) !important; */
}

#app .page .side i {
    /*文字摆放位置*/
    /* text-align: left !important; */
    /* 文字大小 */
    /* font-size: 50px !important; */
    /* font-weight: 600; */
    /* 字体倾斜 */
    /* font-style:oblique; */
    /* 下划线 */
    /* text-decoration:underline; */
    /* 下划线颜色 */
    /* text-decoration-color: #00a4ff; */
    /* 文字颜色 */
    color: #606266;
    display: none;
}

.table_wrap {
    /* background-color: #fff; */
    background-color: transparent !important;
    border-radius: 20px;
    margin-bottom: 20px;
    /* padding: 20px 60px !important; */
}

.el-form {
    background: #fff !important;
    border-radius: 20px;
    margin-bottom: 20px;
}

.el-form-item__content .el_form_btn {
    width: 69px !important;
    margin-right: 20px;
}

.edit_wrap {
    /* background-color: #fff; */
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px 60px !important;
}
.edit_wrap .el-form-item__label{
	min-width: 135px;
}
.edit_wrap .el-form-item__content{
	margin-left: 135px !important;
}

.edit_wrap.goods_type .el-form-item__content {
    /* width: 200px !important; */
    display: flex;
}

.edit_wrap.goods_type .el-form-item__content button {
    width: 69px !important;
    float: none !important;
}

.edit_wrap.comtable_e .el-form,
.edit_wrap.link .el-form {
    flex-direction: column;
}

.edit_wrap.link .el-form .row_e {
    display: flex;
    flex-wrap: wrap;
}

.edit_wrap.link .el-form .el_form_item_warp {
    width: 100% !important;
}

.edit_wrap .el_form_item_warp.el-col-lg-8 {
    flex-grow: 1;
    width: 50% !important;
}

.edit_wrap .el-form .row_e {
    flex: 1;
    overflow: auto;
}


/* .search_btn_find {
    background-color: #409eff !important;
  } */

.query_time {
    display: flex;
}

.query_time label {
    line-height: 30px;
    margin-right: 0.3125rem;
}

.el-date-editor .el-range-separator {
    width: 10% !important;
}

.el-table thead {
    color: rgba(59, 75, 217, 0.5) !important;
    font-weight: 600 !important;
    border-bottom: 2px solid rgba(59, 75, 217, 0.5);
	background-color: #2d9953;
}

.el-table {
    box-shadow: 0 0 5px 0 #ccc;
    border-radius: 20px;
}

.el-table td,
.el-table th.is-leaf {
    border-right: 1px solid #ebeef5;
}

.el-table th.is-leaf {
    border-top: 1px solid #ebeef5;
}

.el-table td:nth-child(1),
.el-table th:nth-child(1) {
    border-left: 1px solid #ebeef5;
}

.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
    border: 1px solid rgba(59, 75, 217, 0.2) !important;
}

.search_btn_1 {
    display: flex;
    align-items: center;
}


/* .search_btn_1 .search_btn_add {
    margin-right: 5px;
  } */

.search_btn_1 {
    width: 100% !important;
}

.login_conter .el-input__inner {
    /* width: 320px !important; */
}

.login_conter .el-input {
    max-width: 22.625rem;
    min-width: 18rem;
}

.forgot_wrap .el-input--suffix .el-input__inner {
    width: 320px !important;
}

.forgot_wrap .el-input-group__append {
    width: 120px !important;
}

.forgot_wrap .el-input-group__append .el-button--default {
    /* width: 100% !important; */
    width: 120px !important;
}

.el-col {
    overflow: visible !important;
}

.sign_in .el-input {
    width: inherit !important;
}

.face-login {
    position: absolute;
    top: 0;
    left: 70%;
    transform: translateX(-50%);
    background: #f8f8f8;
    padding: 20px;
}

.face-login .face-img {
    margin-top: 20px;
}

#app .page .side li .el-menu-item.sactive {
    background: none !important;
    border: none !important;
	font-weight: 400 !important;
}
.side .hide-avatar {
	display: block !important;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}
.side .hide-avatar img{
	width: 100% !important;
	height: 100% !important;
	    border-radius: 100%;
	
}
.side  .hide-username{
	display: block !important;
	margin: 0px auto;
	text-align: center;
	font-size: 15px;
	border-bottom: 1px solid #fff;
}
.side  .hide-username::before{
	content: '当前用户：';
}
.edit_wrap .el_form_btn_warp {
	width: 100% !important;
}
.edit_wrap .el_form_btn_warp .el-form-item__content{
	margin-left: 0px !important;
	text-align: center !important;
	display: flex;
	justify-content: center;
}
.action_right .timess{
	display: none;
} 
#user_info .el_form_btn_warp,#user_password  .el_form_btn_warp{
	width: 100% !important;
	display: flex;
	    justify-content: center;
}
#user_info .el_form_btn_warp .el-form-item__content,#user_password  .el_form_btn_warp .el-form-item__content{
	margin-left: 0px !important;
	text-align: center;
	
}
.el-table th{
	background-color: #2d9953 !important;
	color: #fff !important;
}
.el-dialog__body .is-required .el-radio-group{
	margin-top: 0 !important;
}
.export-excel-wrapper button{
	margin-bottom: 0 !important;
}